html, body{
    height:80%;
}
body{
    background: linear-gradient(103.2deg, rgb(53, 108, 128) 14.6%, rgb(57, 187, 231) 91.5%);
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background: lightyellow;
    margin: 12px;
    flex-wrap: wrap;
}

nav, form{
    background-color: lightgray;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.item{
    background: black;
    color: greenyellow;
    margin: 5px;
    max-width: 120px;
    height: 180px;
}

.section{
    justify-content: center;
}


.label{
    display: inline-block;
    width: 75px;
}

.input{
    width: 150px;
}

.list{
    list-style-type: none;
}

@media (max-width: 800px) {
    main{
        flex-direction: column;
    }
    li{
        display: inline-block;
    }

}
